html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.topBar{
    height: 42px;
    background-color: rgb(59, 146, 178);
}

.logo{
    padding-left: 50%;
}
    
.navBarPlacement{
    font-family: Bahnschrift;
    font-size: 90%;
    padding-left: 23%;
       
    /*ASH font  :   DIN Schriff 30640 Neurzeit Grotesk Bold / Print*/
}

.navBarText{
    padding-top: 17px;
}

