:root {
    /*Primary*/
    --ash-black       : #000;
    --ash-blue        : #3b92b2;
    --ash-light-blue  : #73aec8;
    /*Secondary*/
    --ash-red         : #b50442;
    --ash-light-red   : #c2485c;
    --ash-orange      : #f47421;
    --ash-light-orange: #f68d47;
    --ash-yellow      : #fae200;
    --ash-green       : #008348;
    --ash-light-green : #2fb457;
    --ash-purple      : #265584;
    --ash-light-purple: #506a95;
    /*Concept*/
    --ash-turquoise   : #83d0f5;
    --ash-light-yellow: #fffe6a;
    --ash-pink        : #f29fc5;
}

html {
  font-size: 14px;
  color:red;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.topBar{
    height: 42px;
    background-color: rgb(59, 146, 178);
}

@media only screen and (max-width: 600px) {
    .topBar {
        height: 0px;
        background-color: rgb(59, 146, 178);
    }
}

@font-face {
    font-family: DINMittelschrift;
    src: url(/Fonts/din1451mittelschrift.ttf);
}

.logo{
    padding-left: 8vw;
}

@media only screen and (max-width: 1024px) {
    .logo {
        padding-left: 0vw;
    }
}
    


.navBarPlacement{
    font-family: Bahnschrift;
    font-size: 90%;
    /*ASH font  :   DIN Schriff 30640 Neurzeit Grotesk Bold / Print*/
}

.navBarText {
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.activeTab{
    background-color: red;
}

#leftFooterBox {
    min-height: 20px;
    float: left;
    width: 50%;
}

#rightFooterBox {
    width: 50%;
    margin-top: 22px;
    float: left;
}

#footerLayout {
    height: 110px;
    box-sizing: content-box;
    padding: 38px 10px 38px 10px;
    background: rgb(0,0,0) none;
}



.moveMenu {
    padding-left: 10vw;
}

.layoutBox {
    box-sizing: border-box;
    display: block;
}

#leftFooterBox {
    min-height: 20px;
    width: 50%;
}

#rightFooterBox {
    margin-top: 22px;
}

#footerLayout {
    padding: 38px 10px 38px 10px;
    background: rgb(0,0,0) none;
}

#footerBox {
    width: 100%;
    max-width: 1228px;
    min-height: 20px;
    margin-right: auto;
    margin-left: auto;
}

#textField {
    padding-top: 20px;
}

#textLeft {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 1em;
    margin-right: 17px;
    font-family: 'DINMittelschrift',sans-serif;
    /*ASH font: DIN Schriff 1451 Mittelschriff */
}

#imgBox {
    margin-top: 50px;
    box-sizing: content-box;
    width: 300px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #D9D9D9;
}

#uploadButton {
    background-color: #D9D9D9;
}

.packBox {
    margin-bottom: 4%;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 2%;
    box-sizing: content-box;
    display: block;
    position: relative;
    min-width: 0px;
    max-height: 237px;
    min-height: 0px;
    width: 286px;
    height: 237px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
}
.packBox:hover {
    box-shadow: 2px 2px 5px black;
}
.packBox-bar {
    box-sizing: content-box;
    display: block;
    position: relative;
    max-width: inherit;
    max-height: inherit;
    top: 174px;
    right: 1px;
    width: 286px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    line-height: 64px;
    background-color: #D9D9D9;
    border: 2px solid #000000;
    text-align: center;
}
.packBox-img {
    position: absolute;
    max-width: inherit;
    max-height: 170px;
    display: block;
    margin: auto;
    width: 98%;
    height: auto;
    right: 1%;
    top: 1%;
}
a.BoxLink:link {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

a.BoxLink:visited {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

a.BoxLink:hover {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

a.BoxLink:active {
    color: black;
    text-decoration: none;
    font-weight: normal;
}
.Flex-Container-PackBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}




    /*#footerSlogan {
    margin-top: 9px;
    margin-right: 40px;
    float: left;
}*/






