html {
  font-size: 14px;
  color:red;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.topBar{
    height: 42px;
    background-color: rgb(59, 146, 178);
}

@media only screen and (max-width: 600px) {
    .topBar {
        height: 0px;
        background-color: rgb(59, 146, 178);
    }
}

.logo{
    padding-left: 8vw;
}

@media only screen and (max-width: 1024px) {
    .logo {
        padding-left: 0vw;
    }
}
    


.navBarPlacement{
    font-family: Bahnschrift;
    font-size: 90%;
    /*ASH font  :   DIN Schriff 30640 Neurzeit Grotesk Bold / Print*/
}

.navBarText {
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.activeTab{
    background-color: red;
}

.navBarText:hover {
    background-color: rgb(59, 146, 178);
    transition: 0.7s;
}





.moveMenu {
    padding-left: 10vw;
}








