@using P3_Project.Models
@model PackModel

@{
}
<div id="LargeDiv">
    <div class="OptionBox" style="left: 65px; height: 158px; width:120px;">
    </div>
    <select class="Dropdown-Option" style="left:40px;">
        <option value="hættetrøje-uden-lynlås">Hættetrøje u. lynlås</option>
        <option value="t-shirt">T-shirt</option>
        <option value="puma-sportstaske">Puma sportstaske</option>
        <option value="puma-rygsæk">Puma rygsæk</option>
        <option value="drikkeflaske">Drikkeflaske</option>
        <option value="sweatpants">Sweatpants</option>
        <option value="bukser-uden-logo">Bukser u. logo</option>
        <option value="bukser-med-logo">Bukser m. logo</</option>
    </select>
    <div class="Box-Minus" style="position: relative; left: 200px; bottom: 80px; width: 31px; height: 31px;">
        <img class="Minus" src="../Pics/minus-svgrepo-com.svg" />
    </div>
</div>
