@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Tilføj vare";
}
<h1>@ViewData["Title"]</h1>

<p>Tilføj vare.</p>

<script>
    document.querySelector('#AddItemModelSite').style = ("color: rgb(59, 146, 178) !important");
</script>


<div class="container">

    <div id="imgBox" class="layoutBox">
        <div id="img">
            <img />
        </div>
        <div>
            <buttons id="uploadButton" class="layoutBox">Upload Billed</buttons>
        </div>
    </div>





    <div class="item CreateItemModel">
        <p>hej</p>
    </div>




    

</div>

