@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Tilføj vare";
}
<h1>@ViewData["Title"]</h1>

<p>Tilføj vare.</p>

<script>
    document.querySelector('#AddItemModelSite').style = ("color: rgb(59, 146, 178) !important");
</script>
<div id="imgBox" class="layoutBox">
    <img />
</div>

<buttons id="uploadButton"> Upload Billed </buttons>