
@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger Pakke";
}

<h1>Rediger Pakke</h1>

<div class="flexbox-createPack">
    <h5 style="margin-left:1%; margin-right:30%; display:inline; font-weight: bolder; -ms-transform: translateY(25%);
    transform: translateY(30%);">
        Angiv navn: <input type="text" class="topBar-Input">
    </h5>
    <h5 style="margin-left:1%; display:inline; font-weight: bolder; -ms-transform: translateY(25%);
    transform: translateY(30%);">
        Angiv pris: <input type="text" class="topBar-Input">
    </h5>
</div>

@*
<input type="text" class="topBar-Input">
*@

<div class="box" style="margin-bottom:10px; margin-top:10px;">
    <h2>London</h2>
    <p>London is the capital of England.</p>
</div>

<div class="box" style="margin-bottom:10px; margin-top:10px;">
    <h2>Paris</h2>
    <p>Paris is the capital of France.</p>
</div>


<p class="buttonBox">Opret pakke</p>

    
