
@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger Pakke";
}

<h1>Rediger Pakke</h1>

<div class="flexbox-createPack">
    <h5 style="margin-left:1%; margin-right:30%; display:inline; font-weight: bolder; -ms-transform: translateY(25%);
    transform: translateY(30%);">
        Angiv navn: <input type="text" class="topBar-Input">
    </h5>
    <h5 style="margin-left:1%; display:inline; font-weight: bolder; -ms-transform: translateY(25%);
    transform: translateY(30%);">
        Angiv pris: <input type="text" class="topBar-Input">
    </h5>
</div>

<h3 style="margin-top: 25px"> Valgmulighed 1: </h3>
<div class="box" style="margin-bottom: 5px">

 
    <div class="valgmulighedPakke"> 
        <h7> Tilføj pakke</h7>
    </div>

</div>


<h3 style="margin-top: 25px"> Valgmulighed 2:</h3>
<div class="box" style="margin-bottom: 5px">

    <h2>Paris</h2>
    <p>Paris is the capital of France.</p>
    <script>  </script>

</div>


<p class="buttonBox">Opret pakke</p>

    
