@using P3_Project.Models
@model List<PackModel>
@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger Pakke";
}

<h1>Rediger Pakke</h1>

<div class="flexbox-createPack">
    <h5 style="margin-left:1%; margin-right:30%; display:inline; font-weight: bolder; -ms-transform: translateY(25%); transform: translateY(25%);">
        Angiv navn: <input type="text" class="topBar-Input" id="LeftInput">
    </h5>
    <h5 style="margin-left:1%; margin-right:30%; display:inline; font-weight: bolder; -ms-transform: translateY(25%); transform: translateY(25%);">
        Angiv pris: <input type="text" class="topBar-Input" id="RightInput">
    </h5>
</div>

<div>
<h3 style="margin-top: 25px"> Valgmulighed 1: </h3>

    <div class="flexBox-Packcreator" id="flexBox-Packcreator-1" style="margin-bottom: 5px; padding: 4px;">

        <div class="OptionBox" id="AddOption" onclick="AddOption(1)" style="left: 60px; height: 138px; width:180px; border: 4px solid #000000;">
            <h2>
                <strong style="position: absolute; display: block; margin: auto; left: 50px; top: 30px;">Tilføj Vare</strong>
            </h2>
        </div>
    </div>
 
    <div id="Delete1" class="Box-Minus" style="position: relative; right: 5vw; top: -116px; width: 41px; height: 41px; cursor: pointer;">
        <img class="Minus" src="../Pics/minus-svgrepo-com.svg" />
    </div>

</div>

<p class="buttonBox" onclick="AddChoice()" style="top: 10px; cursor: pointer;">Tilføj valgmulighed</p>

<p class="buttonBox" style="top: 30px; left: 91%; cursor: pointer;">Opret pakke</p>


<script>

    function AddOption(ChoiceNumber){

        //adding the main box to the flexbox
        const LargeDiv = document.createElement("div");
        LargeDiv.className = "LargeDiv";
        const FlexBox = document.querySelector(`#flexBox-Packcreator-${ChoiceNumber}`);
        FlexBox.insertBefore(LargeDiv, FlexBox.children[(FlexBox.children.length)-1]);
        let number = FlexBox.children.length - 1;

        //appending the option box to the main box 
        const Options = document.createElement("div");
        Options.setAttribute("class", "OptionBox");
        Options.setAttribute("style", "left: 65px; height: 158px; width:120px;");
        LargeDiv.appendChild(Options);

        // creating and appending select
        const DropDown = document.createElement("select");
        DropDown.setAttribute("class", "Dropdown-Option");
        DropDown.setAttribute("style", "left:40px;");
        LargeDiv.appendChild(DropDown);

        // creating options for the select
        const Option1 = document.createElement("option");
        Option1.setAttribute("value", "hættetrøje-uden-lynlås");
        Text1 = document.createTextNode("Hættetrøje-uden-lynlås");
        Option1.appendChild(Text1);
        DropDown.appendChild(Option1);

        const Option2 = document.createElement("option");
        Option1.setAttribute("value", "t-shirt");
        Text2 = document.createTextNode("T-shirt");
        Option2.appendChild(Text2);
        DropDown.appendChild(Option2);

        //creating and appending the minus box and minus
        const MinusBox = document.createElement("div");
        MinusBox.setAttribute("class", "Box-Minus");
        MinusBox.setAttribute("id", `${ChoiceNumber}DeleteOption${number}`);
        MinusBox.setAttribute("onclick", "DeleteOption(this.id)");
        MinusBox.setAttribute("style", "position: relative; left: 200px; bottom: 80px; width: 31px; height: 31px;");
        LargeDiv.appendChild(MinusBox);

        const Minus = document.createElement("img");
        Minus.setAttribute("class", "Minus");
        Minus.setAttribute("src", "../Pics/minus-svgrepo-com.svg");
        MinusBox.appendChild(Minus);
    }
    function DeleteOption(ID){
        
        let OptionElement = document.getElementById(ID);
        let ParentElement = OptionElement.parentElement;
        //console.log(`You want to delete${ParentElement}`);
        ParentElement.remove();
    }
    function DeleteChoice(ID){
        let Element = document.getElementById(ID);
        let ParentElement = Element.parentElement;
        //console.log(`You want to delete${ParentElement}`);
        ParentElement.remove();
    }
    function AddChoice(){

        const ChoiceDiv = document.createElement("div");
        const Title = document.createElement("h3");

        const Container = document.querySelector(".pb-3");
        const ChoiceNumber = Container.children.length - 4;
        ChoiceDiv.setAttribute("id",`Choice${ChoiceNumber}`);
        Title.appendChild(document.createTextNode(`Valgmulighed ${ChoiceNumber}:`));

        const MinusBox = document.createElement("div");
        MinusBox.setAttribute("class", "Box-Minus");
        MinusBox.setAttribute("id", `Delete${ChoiceNumber}`)
        MinusBox.setAttribute("onclick", "DeleteChoice(this.id)")
        MinusBox.setAttribute("style", `position: relative; right: 5vw; top: -116px; width: 41px; height: 41px; cursor: pointer;`);
        const Minus = document.createElement("img");
        Minus.setAttribute("class", "Minus");
        Minus.setAttribute("src", "../Pics/minus-svgrepo-com.svg");
        MinusBox.appendChild(Minus);

        const FlexBox = document.createElement("div");
        FlexBox.setAttribute("class", "flexBox-Packcreator");
        FlexBox.setAttribute("id", `flexBox-Packcreator-${ChoiceNumber}`);
        FlexBox.setAttribute("style", "margin-bottom: 5px; padding: 4px;");
        ChoiceDiv.appendChild(Title);
        ChoiceDiv.appendChild(FlexBox);
        ChoiceDiv.appendChild(MinusBox);
        

        const AddButton = document.createElement("div");
        AddButton.setAttribute("class", "OptionBox");
        AddButton.setAttribute("id", "AddOption");
        AddButton.setAttribute("onclick", `AddOption(${ChoiceNumber})`);
        AddButton.setAttribute("style", "left: 60px; height: 138px; width:180px; border: 4px solid #000000;");
        FlexBox.appendChild(AddButton);

        const h2 = document.createElement("h2");
        AddButton.appendChild(h2);

        const strong = document.createElement("strong");
        strong.setAttribute("style", "position: absolute; display: block; margin: auto; left: 50px; top: 30px;");
        h2.appendChild(strong);
        strong.appendChild(document.createTextNode("Tilføj Vare"));

        Container.insertBefore(ChoiceDiv, document.querySelector(".buttonBox"));

        console.log(Container.children);
    }
    function UpdateDB() {
        let name = document.getElementById("LeftInput").value;
        console.log(name);
        let description = "";
        let options = [];

        const Choices = document.querySelectorAll(".flexBox-Packcreator");

        for (i = 0; i < Choices.length; i++) {

            options.push(FindOptions(Choices[i].id));
            console.log(options);
        }

        let PayLoad = {
            Name: name,
            Description: description,
            Options: options
        };
        let PackModel = JSON.stringify(PayLoad);

        fetch("/api/admin/CreatePackModel", {
            method: "POST",
            body: PackModel
        });

    }

    function FindOptions(id) {
        let NodeList = document.querySelector(`#${id}`).querySelectorAll(".LargeDiv");
        let nodeArray = Array.apply(null, NodeList);
        let ValueArray = [];
        nodeArray.forEach((e) => {
            ValueArray.push(e.querySelector(".Dropdown-Option").value);

        })
        return (ValueArray);
    }

</script>

@*
pack element thing
<div>
    <div class="OptionBox" style="left: 65px; height: 158px; width:120px;">
    </div>
    <select class="Dropdown-Option" style="left:40px;">
        <option value="hættetrøje-uden-lynlås">Hættetrøje u. lynlås</option>
        <option value="t-shirt">T-shirt</option>
        <option value="puma-sportstaske">Puma sportstaske</option>
        <option value="puma-rygsæk">Puma rygsæk</option>
        <option value="drikkeflaske">Drikkeflaske</option>
        <option value="sweatpants">Sweatpants</option>
        <option value="bukser-uden-logo">Bukser u. logo</option>
        <option value="bukser-med-logo">Bukser m. logo</</option>
    </select>
    <div class="Box-Minus" style="position: relative; left: 200px; bottom: 80px; width: 31px; height: 31px;">
        <img class="Minus" src="../Pics/minus-svgrepo-com.svg" />
    </div>
</div>
*@
    
