@model P3_Project.Models.ItemModel

@{
    ViewData["Title"] = "CreateItemModel";
}

<h1>CreateItemModel</h1>

<h4>ItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div style=" border: solid">
            @using (Html.BeginForm("CreateItemModel", "admin", FormMethod.Post))
            {
                <div class="form-group">
                    <table>
                        <tr>
                            <td>Enter ID: </td>
                            <td>@Html.TextBoxFor(model => model.Id)</td>
                        </tr>
                        <tr>
                            <td>Enter Name: </td>
                            <td>@Html.EditorFor(model => model.ModelName)</td>
                        </tr>
                        <tr>
                            <td>Description: </td>
                            <td>@Html.TextBoxFor(model => model.Description)</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Submit Form" /></td>
                        </tr>
                    </table>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            }

        </div>
           
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
