
@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger Pakke";
}




<h1>Rediger Pakke</h1>

<html>
<head>
    <style>
        .box {
            
            border: 2vw solid black;
            margin: 20vw;
            padding: 20vw;
        }
    </style>
</head>
<body>

    <div class="box">
        <h2>London</h2>
        <p>London is the capital of England.</p>
    </div>

    <div class="box">
        <h2>Paris</h2>
        <p>Paris is the capital of France.</p>
    </div>

    <div class="box">
        <h2>Tokyo</h2>
        <p>Tokyo is the capital of Japan.</p>
    </div>

</body>
</html>
    
