@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger pakker";
}
<h1>@ViewData["Title"]</h1>

<p>Rediger pakker.</p>

<div class="packBox">
    <div class="packBox-img">
    </div>
    <div class="packBox-bar">
        Startpakke
    </div>
</div>
@*
<a class="nav-link" style="color:white" asp-area="" asp-controller="Admin" asp-action="EditPackModel">Rediger pakker</a>
*@

