@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger pakker";
}
<h1>@ViewData["Title"]</h1>

<p>Rediger pakker.</p>

<script>
    document.querySelector('#EditPackModelSite').style = ("color: rgb(59, 146, 178) !important");
</script>