@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger pakker";
}
<h1>@ViewData["Title"]</h1>

<p>Rediger pakker.</p>

<a class="nav-link" style="color:black" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">Skab pakker</a>

<div class="packBox">
    <div class="packBox-img">
    </div>
    <div class="packBox-bar">
        Startpakke
    </div>
</div>




