@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Faktura indstillinger";
}

<h1>@ViewData["Title"]</h1>

<div class="settingGrid">

    <div class="box fakturaSetting settingItem">
        <div class="textAllign">Virksomhedens navn:</div>
        <input type="text" placeholder="Virksomheds navn" id="companyName" />
    </div>

    <div class="box fakturaSetting settingItem">
        <div class="textAllign">Virksomhedens addresse:</div>
        <input type="text" placeholder="Virksomheds addresse" id="companyAddress" />
    </div>

    <div class="box fakturaSetting settingItem">
        <div class="textAllign">Virksomheds CVR:</div>
        <input type="text" placeholder="Virksomheds CVR" id="companyCVR" />
    </div>

    <div class="box fakturaSetting settingItem">
        @{
            string toolTipAddress = "Hvor varen skal afhentes.";
                                        <div class="textAllign">Afhentnings addresse:<span class="hovertext" data-hover="@(toolTipAddress)">?</span></div>
                                        <input type="text" placeholder="Afhentnings addresse" id="pickUpAddress"/>
        }
    </div>

    <div class="box fakturaSetting settingItem">
        @{
            string toolTipDeadline = "Antal dage hvorefter kunden senest kan hente bestilte vare";
                                        <div class="textAllign">Afhentnings deadline:<span class="hovertext" data-hover="@(toolTipDeadline)">?</span></div>
                                        <input type="text" placeholder="Afhentnings deadline" id="pickUpDeadline"/>
        }
    </div>

    <div class="box fakturaSetting settingItem">
        @{
            string toolTipMoms = "Moms i procent %";
                                        <div class="textAllign">Moms %:<span class="hovertext" data-hover="@(toolTipMoms)">?</span></div>
                                        <input type="text" placeholder="Moms %" id="moms"/>
        }
    </div>

</div>

<div style="margin-left: 80vw;">
    <input type="button" value="Opdater" id="update" />
</div>



<script>

    function updateFaktura() {

        let companyName = document.getElementById("companyName").value;
        let companyAddress = document.getElementById("companyAddress").value;
        let companyCVR = document.getElementById("companyCVR").value;
        let pickUpAddress = document.getElementById("pickUpAddress").value;
        let pickUpDeadline = document.getElementById("pickUpDeadline").value;
        let moms = document.getElementById("moms").value;

        let fakturaDate = {
            CompanyName: companyName,
            CompanyAddress: companyAddress,
            CompanyCVR: companyCVR,
            PickUpAddress: pickUpAddress,
            PickUpDeadLine: pickUpDeadline,
            Moms: moms,
        }

        console.log(fakturaData);
    }

    document.getElementById("update").addEventListener("click", updateFaktura);

</script>


<style>

    .textAllign {
        text-align: center;
    }

    .fakturaSetting {
        height: 100px;
    }

    .settingGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em;
        align-items: center;
        gap: 10%;
    }

    .settingItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

</style>