@using P3_Project.Models
@model List<PsudoPackModel>
@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Pakke Oversigt";
}

<h1>@ViewData["Title"]</h1>
<script>    function PackModelEdit(id) { window.location.href = "/admin/CreatePackModel?PackId=" + id; }
</script>
<div class="Flex-Container-PackBoxes">

    @foreach(var Pack in Model){
        @await Html.PartialAsync("../Shared/PackPageAdmin.cshtml", Pack)
    }
    <div class="packBox" onclick="PackModelEdit(null)">
        <img class="packBox-plus" src="../Pics/plus-svgrepo-com.svg" />
    </div>
</div>



