@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rediger pakker";
}

<h1>@ViewData["Title"]</h1>

<p>Rediger pakker.</p>

<p id="demo"></p>

<a asp-area="" asp-controller="Admin" asp-action="EditPackModel">Rediger pakker</a>

<div class="Flex-Container-PackBoxes">

</div>

<script>
    for(i = 1; i <= 12; i++){
        let text = "startpakke";

        //creating link and appending it to existing flexbox
    
        const link = document.createElement("a");
        link.id = `Linky_${i}`;
        link.setAttribute("class", "BoxLink");

        link.setAttribute("href", "/Admin/CreatePackModel");
        let flexBox = document.querySelector(".Flex-Container-PackBoxes");

        flexBox.appendChild(link);
        

        const mainBox = document.createElement("div");
        mainBox.className = "packBox";
        mainBox.id = `bigBox_${i}`;
        let linkElement = document.querySelector(`#Linky_${i}`);

        linkElement.appendChild(mainBox);
        

        //creating and appending image
        let image = document.createElement("img");
        image.setAttribute("class", "packBox-img");
        image.setAttribute("src", "../favicon.ico");
        let encapBox = document.querySelector(`#bigBox_${i}`);

        encapBox.appendChild(image);

        //creating and appending boxBar
        let boxBar = document.createElement("div");
        boxBar.setAttribute("class", "packBox-bar");
        boxBar.id = `boxbar_${i}`;
        encapBox.appendChild(boxBar);
        let textNode = document.createTextNode(text);
        let textBar = document.querySelector(`#boxbar_${i}`);
        textBar.appendChild(textNode);
    }
</script>

@*
<div class="Flex-Container-PackBoxes">
    <a class="BoxLink" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">
        <div class="packBox">
            <img class="packBox-img" src="../favicon.ico" alt="HTML5 Icon">
            <div class="packBox-bar">
                Startpakke
            </div>
        </div>
    </a>

    @*
    <a class="BoxLink" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">
        <div class="packBox">
            <img class="packBox-img" src="../favicon.ico" alt="HTML5 Icon">
            <div class="packBox-bar">
                Startpakke
            </div>
        </div>
    </a>
    <a class="BoxLink" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">
        <div class="packBox">
            <img class="packBox-img" src="../favicon.ico" alt="HTML5 Icon">
            <div class="packBox-bar">
                Startpakke
            </div>
        </div>
    </a>
    <a class="BoxLink" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">
        <div class="packBox">
            <img class="packBox-img" src="../favicon.ico" alt="HTML5 Icon">
            <div class="packBox-bar">
                Startpakke
            </div>
        </div>
    </a>
    <a class="BoxLink" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">
        <div class="packBox">
            <img class="packBox-img" src="../favicon.ico" alt="HTML5 Icon">
            <div class="packBox-bar">
                Startpakke
            </div>
        </div>
    </a>
    <a class="BoxLink" asp-area="" asp-controller="Admin" asp-action="CreatePackModel">
        <div class="packBox">
            <img class="packBox-img" src="" alt="Create pack model">
        </div>
    </a>
    
</div>
<script>

    const myDiv = document.createElement("div");
    myDiv.className = "packBox";
    const textNode = document.createTextNode(text);
    myDiv.appendChild(textNode);

    const link = document.createElement("a");

    link = Object.assign(link, {
            className = 'BoxLink';
            asp-area="Admin";
            asp-action="CreatePackModel";
    })

    link.setAttribute("class", "BoxLink");
    link.setAttribute("asp-area", "");
    link.setAttribute("asp-controller", "Admin");
    link.setAttribute("asp-action", "CreatePackModel");

    const mainBox = document.createElement("div");
    mainBox.className = 'packBox';
    link.appendChild(mainBox);

    //creating and appending image
    const image = document.createElement("img");
    image = Object.assign(image, {
        className = "packBox-img";
        src="../favicon.ico";
    })
    mainBox.appendChild(image);

    //creating and appending boxBar
    const boxBar = document.createElement("div");
    boxBar.setAttribute("class", "packBox-bar");
    const textNode = document.createTextNode(text);
    boxBar.appendChild(textNode);
    mainBox.appendChild(boxBar);
    */
    //appending link to existing flexbox
    document.querySelector(".Flex-Container-PackBoxes").appendChild.(myDiv);
</script>
*@









