@model List<(int, string, DateTime)>
@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rabat koder";
}
<h1>@ViewData["Title"]</h1>
<script>
	function callbackEdit(id){window.location.href = "/admin/EditPromoCode?Id";}
	function callbackDelete(){} 
</script>
<div>
	<input type="button" value="Opret Rabatkode" />
	@foreach((int, string, DateTime) code in Model){
		@await Html.PartialAsync("./PromoCodeOverviewItem.cshtml", code)
	}
</div>

<script>
</script>
