@model (int, string, DateTime)
<style>
	.promo-code-psudo {
		display : grid;
		grid-template-columns: 1fr 1fr 1fr;	
		margin : 1em;
		align-items : center;
	}

	.promo-code-overview-button-container {
		display : flex;
		flex-direction : column;
		justify-content : center;
	}

	.promo-code-item p {
		display : inline;
	}
</style>
<script>
	function callbackEdit@(Model.Item1)(){window.location.href = "/admin/EditPromoCode?Id=@Model.Item1";}
	function callbackDelete@(Model.Item1)(){} 
</script>
<div id="psudo-promo-code-@Model.Item1" class="box promo-code-psudo">
	<div class="promo-code-item">
		<p>@Model.Item2</p>
	</div>
	<div class="promo-code-item">
		<p><b>Expiration Date:</b> @Model.Item3.ToString("dd/MM/yyyy")</p>
	</div>
	<div class="promo-code-item promo-code-overview-button-container">
		<input type="button" value="Redigér Rabatkode" onclick="callbackEdit@(Model.Item1)()" />
		<input type="button" value="Slet Rabatkode" onclick="callbackEdit@(Model.Item1)()" />
	</div>
</div>
