@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Rabat koder";
}
<h1>@ViewData["Title"]</h1>


<p>Rabat koder.</p>

<script>
    document.querySelector('#PromoCodeSite').style = ("color: rgb(59, 146, 178) !important");
</script>
