@{ ViewData["Title"] = "Indstillinger"; }
<h1>@ViewData["Title"]</h1>
<style>
	.setting {
		width : 100%;
		margin-top: 2%;
	}
</style>

@*Email settings*@
<div class="box setting">
	<h2>E-mailliste til notifikationer</h2>
	<input type="button" value="Tilføj ny E-mail" onclick="addEmail()"/>
	<input type="button" value="Update E-mail-liste" onclick="update()"/>
	<table id="setting-email-table">
	</table>
</div>

@*Faktura settings*@
<div class="box setting">
	<h2>Faktura indstillinger</h2>
	<input type="button" value="Rediger" onclick="location.href='FakturaSettings';" />
</div>

@*Bruger settings*@
<div class="box setting">
	<h2>Bruger indstillinger</h2>
	<div class="userContainer">
	</div>
	<input type="button" value="Tilføj login" onclick="addUserDom()"/>
</div>

<script>
	function onInit() {
		// Email
		fetch("/api/admin/NotificationEmails")
			.then((r) => r.json())
			.then((j) => {for(let item of j){
				addEmail(item);
			}})
	}
	let emailFields = 0;
	let emailTable = document.getElementById("setting-email-table");
	function addEmail(value = "") {
		let input = document.createElement("input");
		input.id = `setting-email-input-${emailFields}`;
		input.value = value;
		let rmButton = document.createElement("input");
		rmButton.type = "button";
		rmButton.value = "-";
		rmButton.addEventListener("click", (e) => removeEmail(e, input.id));
		
		let td = document.createElement("td");
		td.appendChild(input);
		td.appendChild(rmButton);
		let tr = document.createElement("tr");
		tr.appendChild(td);
		emailTable.appendChild(tr);
		emailFields += 1;
	}
	
	function removeEmail(el, value){ 
		let e = document.getElementById(value);
		e.parentElement.removeChild(e);
		el.target.parentElement.removeChild(el.target);
	}

	function update() {
		let l = [];
		for(let i = 0; i < emailFields; i++){
			try {
				let e = document.getElementById(`setting-email-input-${i}`);
				if(e.value != "") l.push(e.value);
			} catch {}
		}
		fetch("/api/admin/NotificationEmails", {
			method : "PUT",
			body : JSON.stringify(l)
		})
	}

	onInit()



	const userDom = document.querySelector(".userContainer");

	async function getUsers(){
		let users = await fetch("/api/admin/GetUsers")
		.then(Response => Response.json())

		users = JSON.parse(users);
		for (user of users) {

			let divDom = document.createElement("div");

			divDom.innerHTML = `
				<label>Brugernavn: </label>
				<input placeholder = "Indsæt brugernavn" class="UserNameNew" value="`+ user.UserName +`"/>

				<label style="display: none" class="UserName">`+ user.UserName + `</label>
				<label¨> Kodeord: </label¨>
				<input placeholder = "Indsæt kodeord"  class="UserPasswordNew" value="`+ user.UserPassword + `"/>
				<label style="display: none" class="UserPassword">`+ user.UserPassword + `</label>

				<input type=button value="Update" onclick="updateUser(this)"/>
				<input type=button value="Slet" onclick="deleteUser(this)" />
				`;
			userDom.append(divDom)


		}
	}

	function addUserDom()
	{
		let divDom = document.createElement("div");
		divDom.innerHTML = `
					<label>Brugernavn: </label>
					<input class="UserNameNew" placeholder = "Indsæt brugernavn" />
					<label¨> Kodeord: </label¨>
					<input class="UserPasswordNew" placeholder = "Indsæt kodeord" />

					<input type=button value="Tilføj" onclick="createUser(this)"/>
					`;
		userDom.append(divDom)
	}

	function createUser(dom) //Update to add hidden labels with porper data
	{
		const parent = dom.parentElement;

		let newUsername = parent.querySelector(".UserNameNew").value;
		let newUserpassword = parent.querySelector(".UserPasswordNew").value;


		let data = {
			UserName: newUsername.trim(),
			UserPassword: newUserpassword.trim()

		}

		fetch("/api/admin/AddUser", 
			{
				method: "POST",
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
			.then(Response => 
			{
				if(Response.ok){
					let button = parent.querySelector("input[type='button']");
					button.remove();

					let update = document.createElement("input");
					update.type = "button"; 
					update.value = "Update";
					update.addEventListener("click", updateUser);
					

					let slet = document.createElement("input");
					slet.type = "button";
					slet.value = "Slet";
					slet.addEventListener("click",deleteUser);

					let hiddenName = document.createElement("label");
					hiddenName.innerText = newUsername;
					hiddenName.style.display = "none";
					hiddenName.classList = "UserName";


					let hiddenPassword = document.createElement("label");
					hiddenPassword.innerText = newUserpassword;
					hiddenPassword.style.display = "none";
					hiddenPassword.classList = "UserPassword";


					parent.append(update);
					parent.append(slet);
					parent.append(hiddenName);
					parent.append(hiddenPassword);

				}
				else{
					alert("Oops, der skete en fejl")
				}
			})
	}

	function deleteUser(dom)
	{
		if(dom.type=="click"){
			dom = dom.target;
		}
		const parent = dom.parentElement;
		let username = parent.querySelector(".UserName").innerText;
		let UserPassword = parent.querySelector(".UserPassword").innerText;
		
		let data = {
			UserName: username.trim(),

			UserPassword: UserPassword.trim()

		}

		fetch("/api/admin/DeleteUser",
			{
				method: "DELETE",
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				if(response.ok)
				{
					parent.remove();
				}

			})
	}

	function updateUser(dom)
	{
		if(dom.type=="click")
			dom = dom.target;

		const parent = dom.parentElement;
		let username = parent.querySelector(".UserName").innerText;
		let UserPassword = parent.querySelector(".UserPassword").innerText;
		let newUsername = parent.querySelector(".UserNameNew").value;
		let newUserpassword = parent.querySelector(".UserPasswordNew").value;


		let data = [{
				UserName: username.trim(),
				UserPassword: UserPassword.trim()
			},
			{
				UserName: newUsername.trim(),
				UserPassword: newUserpassword.trim()
			}
		]


		fetch("/api/admin/UpdateUser",
			{
				method: "POST",
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				if(response.ok)
				{
					username = newUsername;
					UserPassword = newUserpassword;
				}


			})
	}

	getUsers();

</script>


 
