@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Lager oversigt";
}
<h1>@ViewData["Title"]</h1>

<script>
    document.querySelector('#StockSite').style = ("color: rgb(59, 146, 178) !important");
</script>

<div style="width: 80vw;">

    <div class="stockBox box"> 
        <p>Bukser</p>
        <input type="button" class="editStockBtn" value="Rediger lagerbeholdning" />
    </div>

    <div class="stockBox box">
        <p>Simon</p>
        <input type="button" class="editStockBtn" value="Rediger lagerbeholdning" />
    </div>

</div>
