@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Lager oversigt";
}
<h1>@ViewData["Title"]</h1>

<script>
    document.querySelector('#StockSite').style = ("color: rgb(59, 146, 178) !important");
</script>

<div style="width: 80vw;">

    @{
        foreach(ItemModel item in ViewBag.model){
            <div class="stockBox box container">
                <div class="item box" style="width:200px;height:80%; margin-top:14px;"></div>
                <p class="item" style="margin-top: 57px; width: 80%;">@(item.ModelName)</p>
                <a href="\admin\AddItemModel?id=@(item.Id)" class="item"><input type="button" class="editStockBtn item" style="margin-top: 57px;" value="Rediger lagerbeholdning" /> </a>
                <a href="\admin\deleteModel?id=@(item.Id)"><input type="button" value="Slet model"> </a>
            </div>
        }
    }

    <a href="\admin\AddItemModel" style="float:right"><input type="button" style="margin-top:10px; float:right" value="Tilføj ny vare" /></a>
</div>

