@{
    Layout = "AdminLayout";

    ViewData["Title"] = "Lager oversigt";
}
<h1>@ViewData["Title"]</h1>

<p>Lager oversigt.</p>

<script>
    document.querySelector('#StockSite').style = ("color: rgb(59, 146, 178) !important");
</script>