@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@foreach (var item in ViewBag.itemModels)
{
    <div style="border: solid"> 
        <p>id = @item.id</p>
        <p>modelName = @item.modelName</p> 
        <p>discription = @item.description</p>
        <a href="Delete?id=@item.id"> 
            <button >X</button>
        </a>
    </div>
    
}

<div style="border: solid">
    <a href="createItemModel">  
        <p>Create new!!</p>
    </a>
</div>
