@{
    ViewData["Title"] = "Tilbehør";


 

}
<h1>@ViewData["Title"]</h1>

<p>Alt tilbehør.</p>

<script>
    //document.querySelector('#AccessoiresSite').style = ("color: rgb(59, 146, 178) !important");
	fetch("api/validatePromoCode/StartSommer2022");
</script>
