
@{
    ViewData["Title"] = "Cart";
}

<style>
    .total {
        margin-left:74vw;
    }

    .button{
        margin-left:74vw;
        background-color: #D9D9D9;
    }

    .PromoCode {
        margin-left:74vw;
        margin-top: 5vw;

    }

    .text {
        border:solid;
        background-color: #D9D9D9;

    }
    

</style>





<h1>Indkøbskurv</h1>


<div class="box">
    <h2>Produkter:</h2>



</div>





<div class="checkout">
    

        
    <div class="total">Total:</div>
    <button class="button">Reservér</button>

    <div class="PromoCode">
        <label for="PromoKodeInput">Promokode:</label>
        <input class="text" type="text" id="PromoKodeInput" name="Promokode" placeholder="Exemple: Sommer2022">
    </div>
    

</div> 
