
@{
    ViewData["Title"] = "Cart";
}

<style>
    .total {
        margin-left:74vw;
    }

    .button{
        margin-left:74vw;
        background-color: #D9D9D9;
    }

    .PromoCode {
        margin-left:74vw;
        margin-top: 5vw;

    }

    .text {
        border:solid;
        background-color: #D9D9D9;

    }
    

</style>


<h1>Indkøbskurv</h1>


<div class="box">

    
    <fieldset>
        <legend> Valgte Varer: </legend>
        
        <div class="itemOutput">

            <div id="LocalStorageInfo"></div>





        </div>
    
    
    </fieldset>
   
    <button type="button" id="itemInsert">Itemdata</button>
   





</div>



<div class="checkout">
    

        
    <div class="total">Total:</div>
    <button class="button">Reservér</button>

    <div class="PromoCode">
        <label for="PromoKodeInput">Promokode:
        </label>
        <input class="text" type="text" id="PromoKodeInput" name="Promokode" placeholder="Exemple: Sommer2022" >
    </div>
    
     <div class="total">Total:</div>

     





</div> 




  <script type="text/javascript">


      window.addEventListener('load', () => {

         const itemString = "[" + localStorage.getItem('itemsSavedForCart') + "]";
    
       
         let itemsSavedForCart = JSON.parse(itemString);


         for (let item of itemsSavedForCart) {

            console.log("| Id of Item: " + item.Id, "| Colour of Item: " + item.Color, "| Amount in cart: " + item.AmountToCart + " |")


         }



      })






    /*
    const buttonInsert = document.getElementById("buttonInsert")
    var itemsSavedForCartId = JSON.parse(localStorage.getItem('itemsSavedForCart.Id'));
     */
    // Model

    itemInsert.onclick = function()
    {

        const itemString = "[" + localStorage.getItem('itemsSavedForCart') + "]";
    
       
        let itemsSavedForCart = JSON.parse(itemString);
        //console.log("| Id of Item: " + itemsSavedForCart.Id,"| Colour of Item: " + itemsSavedForCart.Color,"| Amount in cart: " + itemsSavedForCart.AmountToCart + " |")
        

    }   







    
    




   

      /*  
        
     //Promocode input.
    const selectObject = document.querySelector('#PromoKodeInput');

    selectElement.addEventListener('change', sfbwgrb => 
    {
        fetch("api/ValidatePromoCode/{code}")
        const result = document.querySelector('.result');
        result.textContent = `Promokode aktiveret.`;
    });

      */


    //ValidatePromoCode/{code}







  </script>




