@using P3_Project.Models.DB

@{
    ViewData["Title"] = "Cart";
}

<style>
    .total {
        margin-left: 74vw;
    }

    .button {
        margin-left: 74vw;
        background-color: #D9D9D9;
    }

    .PromoCode {
        margin-left: 74vw;
        margin-top: 5vw;
    }

    .text {
        border: solid;
        background-color: #D9D9D9;
    }
</style>


<h1>Indkøbskurv</h1>


<div class="box">


    <fieldset>
        <legend> Valgte Varer: </legend>

        <div class="itemOutput">

            <div id="LocalStorageInfo"></div>





        </div>


    </fieldset>




    <table style="width: 100%;">
        <tbody class="confHeadTable">

            <style>
                td, tr {
                    border-width: 2px;
                    color: #000000;
                    background-color: #D9D9D9;
                }

            </style>



            <tr>
                
                <td style="width: 10vw;">
                    Navn
                </td>
                <td style="width: 10vw;">
                    Størelse
                </td>
                <td style="width: 10vw;">
                    Farve
                </td>
                <td style="width: 10vw;">
                    Antal
                </td>
                <td style="width: 10vw; border-style: none;">
                </td>
                <td style="width: 10vw;">
                    Pris pr. stk. (DKK)
                </td>
                <td style="width: 10vw;">
                    Samlet pris (DKK)
                </td>

            </tr>
            

        </tbody>

    </table>



</div>



<div class="checkout">



    <div class="total" id="subTotal">Total:</div>
    <button class="button">Reservér</button>

    <div class="PromoCode">
        <label for="PromoKodeInput">
            Promokode:
        </label>
        <input class="text" type="text" id="PromoKodeInput" name="Promokode" placeholder="Exemple: Sommer2022">
    </div>

    <div class="total">Total:</div>







</div>




<script>






   
    window.addEventListener('load', () => {

        const itemString = localStorage.getItem('itemsSavedForCart');


        let itemsSavedForCart = JSON.parse(itemString);

        const table = document.querySelector(".confHeadTable");
        let index = 0;
        for (let item of itemsSavedForCart) {

            console.log("| Id of Item: " + item.Id, "| Name of Item: " + item.ModelName, "| Colour of Item: " + item.Color, "| Amount in cart: " + item.AmountToCart + " |")

            const row = document.createElement("tr");
            row.innerHTML = `

                        <td style="width: 10vw;" >
                            ` + item.ModelName + //Navn
                `</td>
                        <td style = "width: 10vw;" >
                            ` + item.Size + //Størelse
                `</td>
                        <td style = "width: 10vw;" >
                            ` + item.Color + //Farve
                `</td>
                         <td style = "width: 10vw;" >


                            <div class="counterGrid">
                                <input class="counterItem" type="button" id="minus" value="-">
                                <div class="counterItem" id="${item.Id},${item.ItemId},${index}">`+ item.AmountToCart + `</div>
                                <input class="counterItem" type="button" id="plus" value="+">
                            </div>

                          </td>

                             <td style = "width: 10vw; border-style: none;" >
                            ` + //Tom Felt til visual
                `</td>
                        <td style = "width: 10vw;" >
                            ` + item.Price + //Pris pr.stk. (DKK)
                `</td>
                        <td style = "width: 10vw;" > <div id="${index}">
                            ` + item.Price * item.AmountToCart + //Samlet pris(DKK)
                         `</div> 
                         </td>

                         `;

            table.append(row)
            index += 1;

        }

        function subTotal(itemsSavedForCart, index) {
            
            let SubIndex = 0;
            for (let item of itemsSavedForCart) {
                let SubTotal = 0;
                let Total = item.Price * item.AmountToCart;
                SubTotal += Total;

                console.log(item.AmountToCart);
                console.log(SubTotal);
                console.log(SubIndex);

                document.getElementById(SubIndex).innerHTML  = SubTotal;

                SubIndex += 1;

            }
            /*
            console.log("");
           if(index != itemsSavedForCart.length){
                document.getElementById(index).innerHTML = "Total: " + SubTotal;
           }
        */
           }


         subTotal(itemsSavedForCart, index);
            

      

        
        function changeCount(delta) {

            return function (e) {
                let dom = e.target.parentElement.querySelector("div").id;
                let newDom = dom.split(',');
                
                let newIndex = newDom[2];
                if (delta == "plus") {

                    // Get the existing data
                    var existing = localStorage.getItem('itemsSavedForCart');

                    //console.log(existing)
                    // If no existing data, create an array
                    // Otherwise, convert the localStorage string to an array
                    let itemsSavedForCart = []
                    if (existing != null)
                        itemsSavedForCart = JSON.parse(existing);
                    
                       
                    itemsSavedForCart[newIndex].AmountToCart += 1;

                    //console.log(itemsSavedForCart[0]);
                    
                    localStorage.setItem("itemsSavedForCart", JSON.stringify(itemsSavedForCart));
                    
                    document.getElementById(dom).innerHTML = itemsSavedForCart[newIndex].AmountToCart;
                   
                    document.getElementById(newIndex).innerHTML = itemsSavedForCart[newIndex].AmountToCart * itemsSavedForCart[newIndex].Price;
                    subTotal(itemsSavedForCart, newIndex);
                }
                else if (delta == "minus") {
                    // Get the existing data
                    var existing = localStorage.getItem('itemsSavedForCart');

                    // If no existing data, create an array
                    // Otherwise, convert the localStorage string to an array
                    let itemsSavedForCart = []
                    if (existing != null)
                        itemsSavedForCart = JSON.parse(existing);

                    itemsSavedForCart[newIndex].AmountToCart -= 1;

                    localStorage.setItem("itemsSavedForCart", JSON.stringify(itemsSavedForCart));

                    document.getElementById(dom).innerHTML = itemsSavedForCart[newIndex].AmountToCart;
                    document.getElementById(newIndex).innerHTML = itemsSavedForCart[newIndex].AmountToCart * itemsSavedForCart[newIndex].Price;
                    subTotal(itemsSavedForCart, newIndex);

                }
            }

        }


        /*

        //Promocode input.
        const selectObject = document.querySelector('#PromoKodeInput');

        selectElement.addEventListener('change', sfbwgrb =>
        {
          fetch("api/ValidatePromoCode/{code}")
          const result = document.querySelector('.result');
          result.textContent = `Promokode aktiveret.`;
        });

        */


        //ValidatePromoCode/{code}



        

        document.querySelectorAll('#minus').forEach( Minus => {
            Minus.onclick = changeCount("minus");
        });
        document.querySelectorAll('#plus').forEach(Plus => {
            Plus.onclick = changeCount("plus");
        });


    })

    



    

</script>




