@{
    ViewData["Title"] = "Aalborg sportshøjskole";
}

<div class="text-center">
    
    <h1 class="display-4">Aalborg sportshøjskoles webshop</h1>
    
    <p>Her er alt det tøj du kan købe</p>

    <a>hej</a>
</div>
