@{
    ViewData["Title"] = "Tøj";
}
<h1>@ViewData["Title"]</h1>

<div style="display:grid; grid-template-columns: repeat(2, auto)">
    <div class="box tagBox">
        Tags:
    </div>

    <div class="grid-container">


        @{
        int index = 1;
        foreach (ItemModel item in ViewBag.model)
        {
            <a style="color: black; text-decoration: none;" href="home\ShowItemModel?id=@(item.Id)">
                <div class="item@(index) itemShowCase">
                    <div class="itemShowCasePic">
                        @{
                    Image img = item.GetFirstImg();
                    if (img != null)
                    {

                            <img class="picSize" src='@img.FilePath' />
                    }

                        }
                    </div>
                    <div class="box itemShowCaseName">
                        <div>@(item.ModelName)</div>
                        <div>Pris: @(item.ModelPrice) kr.-</div>
                    </div>

                </div>
            </a>
        index += 1;
        }
        }

    </div>
</div>
