@using P3_Project.Models
@model List<(int, string, int)>

@{
    ViewData["Title"] = "Pakker";
}
<h1>@ViewData["Title"]</h1>

<p>Alle pakker.</p>

<div style="display:grid; grid-template-columns: repeat(2, auto)">
    <div class="box shopTagBox">
        Tags:
        <div>
            
            <div>
                <label>lol</label>
                <input type="checkbox" id="">
            </div>
                
        </div>
    </div>

    <div class="grid-container-2">
        @foreach(var part in Model){
            <a style="color: black; text-decoration: none; margin-bottom: 40px" onclick="PackModelEdit(@part.Item1)">
                    <div class="itemShowCase">
                        <div class="itemShowCasePic wrap">


                    <img class="picSize midImg" src="../favicon.ico" style="background-color: black;" />

                            
                        </div>
                        <div class="itemShowCaseName-2">
                            
                            <div>@part.Item2</div>
                            <div>Pris:@part.Item3 kr.-</div>
                        
                        </div>

                    </div>
                </a>
        }
        

    </div>
</div>

<script>
    function PackModelEdit(id) { window.location.href = "/Home/PackPicker?PackId=" + id; }
</script>