@{
	Layout = "_Layout";
    ViewData["Title"] = "Vælg pakkemuligheder";
}
<h1>@ViewData["Title"]</h1>

<div class="grid-container-PackPicker">
	<div class="PackPickerHeader"><h3 style="text-align:start;"><b>Pakke:</b></h3><h3 style="text-align:end;"><b>Pris: kr.-</b></h3></div>
	<div class="PackChoices"><h4><b>Valgmulighed 1</b></h4></div>
	<div class="PackPickerItems">
		<img class="PackPickerImg" src="../favicon.ico" />
		<div class="box" style="position: relative; height: 50px; width:240px; top: 82px;">Navn</div>
	</div>
	<div class="PackPickerItems"><img class="PackPickerImg" src="../favicon.ico" />
		<div class="box" style="position: relative; height: 50px; width:240px; top: 82px;">Navn</div></div>
	<div class="PackChoices"><h4 style="margin: 0;"><b>Valgmulighed 2</b></h4></div>
	<div class="PackPickerItems">
		<img class="PackPickerImg" src="../favicon.ico" />
		<div class="box" style="position: relative; height: 50px; width:240px; top: 82px;">Navn</div>
	</div>
	<div class="PackPickerItems">
		<img class="PackPickerImg" src="../favicon.ico" />
		<div class="box" style="position: relative; height: 50px; width:240px; top: 82px;">Navn</div>
	</div>
</div>

<div class="box" style="position: relative; left:70vw; display: block; text-align: center; margin-top: 12px; margin-bottom: 12px; width: 220px; padding: 6px;">Tilføj pakke til indkøbskurv</div>