@{
    ViewData["Title"] = "Pakker";
}
<h1>@ViewData["Title"]</h1>

<p>Alle pakker.</p>

<script>
    document.querySelector('#PackModelSite').style = ("color: rgb(59, 146, 178) !important");
</script>